.container{
    /* border: 1px solid black;  */
    margin-top: 5rem;
    width: 100rem;
}
.title{
    margin: 2rem auto;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--main-brown);
}
form{
    margin: 0 auto;
    width: 40%;
    /* border: 1px solid black; */
}

form input{
    margin: 0.5rem 0;
    width: 100%;
    height: 4rem;
}

.tab{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    font-size: 1.3rem;
   
}
.idSave{
    margin-left: 1rem;
}

.search{
    width: 35%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 1rem;
}

.short{
    border-top: 1px solid black;
    width: 35%;
    margin-top: 2.5rem;
    padding-top: 1.5rem;
    display: flex;
}

.api{
    border: 1px solid black;
    width: 15%;
    height: 5rem; /*임시*/
}

.google{
    background-color: red;
}

.kakao {
    background-color: yellow;
}

.naver{
    background-color: green;
}
.sign{
    width: 40%;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2rem;
}
.sign> a {
    color: var(--main-orange);
    text-decoration: underline;
}